<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<!-- <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" /> -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
		Pimp My Carro&ccedil;a</title>
		<link rel="stylesheet" type="text/css" href="/static/css/view.css" media="all" />
	</head>
	<body id="main_body">
		<div id="form_container">
			<img src="/static/images/logo.png" height="250px" id="top">
			<form id="form_1" name="form_1" class="appnitro" method="get"
				action=""
				onsubmit="">
				<ul>
					<li>
						<label class="description">Nome <span class="required">*</span>
						</label>
						<div>
							<input id="element_1" name="nome"
									class="element text medium" type="text"
									value="" />
						</div>
					</li>
					<li id="li_4">
						<label class="description" for="element_4">Endere&ccedil;o <span id="required_4" class="required">*</span>
						</label>
						<div>
							<input id="element_4" name="endereco" class="element text medium"
								type="text" value=""
								maxlength="60" size="30"/>
						</div>
					</li>
					<li id="li_5">
						<label class="description" for="element_5">Bairro <span id="required_5" class="required">*</span>
						</label>
						<div>
							<input id="element_5" name="bairro" class="element text medium"
								type="text" maxlength="40"
								value="" />
							<div class="erro">
							</div>
						</div>
					</li>
							
					
					<li>
						<div class="grupo">
							<label class="description">Cidade <span id="required_6" class="required">*</span>
							</label>
							<input id="element_6" name="cidade" class="element text medium" 
								type="text" value="" 
								maxlength="40"/>
						</div>
						<div style="display:inline-block;padding-right:18px" >
						</div>
                        <div id="estado_div">
							<label class="description">Estado <span id="required_15" class="required">*</span>
							</label>
							<select name="estado" style="margin-top: 2px">
							    <option value="selecione">--</option>
								<option value="AC">AC</option>
								<option value="AL">AL</option>
								<option value="AM">AM</option>
								<option value="AP">AP</option>
								<option value="BA">BA</option>
								<option value="CE">CE</option>
								<option value="DF">DF</option>
								<option value="ES">ES</option>
								<option value="GO">GO</option>
								<option value="MA">MA</option>
								<option value="MG">MG</option>
								<option value="MS">MS</option>
								<option value="MT">MT</option>
								<option value="PA">PA</option>
								<option value="PB">PB</option>
								<option value="PE">PE</option>
								<option value="PI">PI</option>
								<option value="PR">PR</option>
								<option value="RJ">RJ</option>
								<option value="RN">RN</option>
								<option value="RO">RO</option>
								<option value="RR">RR</option>
								<option value="RS">RS</option>
								<option value="SC">SC</option>
								<option value="SE">SE</option>
								<option value="SP">SP</option>
								<option value="TO">TO</option>
							</select>
						</div>
					</li>
					<li id="li_10">
						<div id="telefone" class="grupo">
							<label class="description" for="element_10">Telefone <span id="required_11" class="required">*</span>
							</label>
							<input id="telefone2" name="telefone" class="element text medium"
								type="text" value=""
								maxlength="30" size="13" />
						</div>
						<br /><br /><br />
					</li>
				</ul>
				<center>
					<span>
						<input id="saveForm" class="button_text" type="submit"
						name="submit" value="Enviar" />
					</span>
				</center>
				<br />
				<br />
				<br />
				<br />
			</form>
			<div id="footer">
			      2014 Pimp My Carro&ccedil;a 
			</div>
		</div>
	</body>
</html>
