@CHARSET "UTF-8";

#main_body
{
	background:#fffff;
	
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:small;
	margin:8px 0 70px;
	padding: 0px;
	text-align:center;
}


#form_container
{
	background:#EEEEEE;
	border:1px solid #ccc;
	margin:0px auto;
	text-align:left;
	width: 680px;
	
}

#top
{
	display:block;
	margin:20px auto;
}

#footer
{
	width:680px;
	clear:both;
	color:#000000;
	text-align:center;
	padding-bottom: 15px;
	font-size: 90%;
}

#footer a
{
	color:#000000;
	text-decoration: none;
}

#main_body form li
{
	display:block;
	margin:0;
	padding:15px 7px 2px 0px;
	font-weight:bold;
}

#main_body form li label
{
	display:block;
	margin:0;
	padding:0px 0px 4px 0px;
	position:relative;
	font-weight:bold;
}

#main_body form .required
{
	color:green;

}



#main_body form li:hover .guidelines
{
	visibility:visible;
}

#main_body label.choice
{
	color:#444;
	display:block;
	font-size:100%;
	font-weight:normal;
	line-height:1.4em;
	margin:-1.55em 0 0 25px;
	padding:4px 0 5px;
	width:85%;
}



/**** Form Section ****/


.appnitro li
{
	width:90%;

}


#main_body  form ul
{
	font-size:100%;
	list-style-type:none;
	padding:10px 66px 10px 66px;
	position:relative;
	width:90%;
}

#main_body form li
{
	display:block;
	margin:0px;
	padding:2px 2px 2px 2px;
	position:relative;
}


#main_body form li:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

#main_body .buttons:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

#main_body .buttons
{
	clear:both;
	display:block;
	margin-top:10px;
}

#main_body form li div
{
	margin: 1px 1px 1px 1px;
	padding:0 0 0px;
}



#main_body form li span
{
	margin:0 4px 0 0;
	padding:0;
}

#main_body .clear
{
	clear:both;
}

#main_body form li div label
{
	clear:both;
	color:#444;
	display:block;
	font-size:14px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

#main_body form li span label
{
	clear:both;
	color:#444;
	display:block;
	font-size:14px;
	line-height:9px;
	margin:0;
	padding-top:0px;
}
/*
#main_body form li .datepicker
{
	cursor:pointer !important;
	float:left;
	height:16px;
	margin:.1em 5px 0 0;
	padding:0;
	width:16px;
}
*/

/**** Inputs and Labels ****/

#main_body label.description
{
	border:none;
	color:#222;
	display:block;
	font-size:95%;
	font-weight:700;
	line-height:150%;
	padding: 3px 3px 3px;
}



/**** Guidelines and Error Highlight ****/
#main_body form li.highlighted
{
	background-color:#C7DF8B;
}

#main_body form .guidelines
{
	background:#E4FFCF;
	border:1px solid #e6e6e6;
	color:#444;
	font-size:90%;
	left:100%;
	line-height:130%;
	margin:0 0 0 8px !important;
	padding:8px 10px 9px;
	position:absolute;
	top:0;
	visibility:hidden;
	width:42%;
	z-index:1000;
}

#main_body .guidelines
{
	font-size:105%;
}

#main_body form li.highlighted .guidelines
{
	visibility:visible;
}

#main_body form li:hover .guidelines
{
	visibility:visible;
}

.no_guidelines .guidelines
{
	display:none !important;
}

.no_guidelines form li
{
	width:97%;
}

.no_guidelines li.section
{
	padding-left:9px;
}

#rg {
	margin-left:4px;
}

#estado_div {
	margin-left:28px;
	display: inline-block;
}

.erro {
	color:#FF0000;
}
	
.radio {
	float: left;
	width: 40px;
}

.grupo {
	display: inline-block;
}




